<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/openlayers/4.6.4/ol-debug.css" />
<h2>Select Country on Map</h2>
<div id="componentDemoContent" style="width: 1px; min-width: 100%;">
    <div id="countryInput">

        <oj-label for="country-input">Country</oj-label>
        <oj-input-text id="country-input" value="{{selectedCountry}}" on-value-changed="[[countryChangedListener]]"
        ></oj-input-text>
        <img id="countrySelectorOpen" src="css/images/icon-world.png" class='iconbtnintext' title ="Click to open World Map in Popup" data-bind="click: openPopup" /> 
    </div>
</div>
<div id="popupWrapper">
    <oj-popup class="demo-popup" id="countrySelectionPopup" tail="none" position.my.horizontal="center" position.my.vertical="bottom" position.at.horizontal="center"
        position.at.vertical="bottom" position.of="window" position.offset.y="-10" modality="modal" data-bind="event:{'ojAnimateStart': startAnimationListener}">
        <div class="demo-popup-body">
            <div class="demo-popup-header">
                <h5>Select a country by clicking on it</h5>
            </div>
            <div class="demo-popup-content">
                <div id="countryInfo"></div>
                <div id="mapContainer" class="map"></div>
            </div>
            <div class="demo-popup-footer">
                <oj-button id="btnClose" data-bind="click: function()
                            {
                              var popup = document.querySelector('#countrySelectionPopup');
                              popup.close();
                            }">
                    Close
                </oj-button>
            </div>
        </div>
    </oj-popup>
</div>
</div>

</div>